.footer{
    width: 100vw;
    height: inherit;
    background-color: #F30050;
    margin-top: 20px;
}
.pagination{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_item{
    margin-right: 10px;
    background: #390554;
    color: white;
    outline: none;
    cursor: pointer;
}
